@font-face {
    font-family: Reef;
    src: url("reef.otf") format("opentype");
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    height: 100vh;
}

.container.reg {
    width: 60%;
}

form.content {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-container {
    margin-top: 7px;
}

.red, .red:hover {
    border: 1px solid red !important;
}


header {
    top: 0;
    position: sticky;
    background-color: white;
    border-bottom: solid 2px rgb(0, 166, 255);
    box-sizing: border-box;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Reef, serif;
    z-index: 1;
}

.placeholder {
    color: #8a8a8a;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: rgb(0, 166, 255);
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn {
    height: 70%;
    display: inline-flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


input[type="search"] {
    font-family: Reef, serif;
    font-size: 1em;
    outline: 0;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(239, 239, 239);
    text-indent: 5px;
    border-width: 0 !important;
    width: 25vw;
    height: 70%;
    margin-top: 7px;
}

.search-bar {
    height: 100%;
}

button.h-dropbtn.header-btn:hover, .lookup-row > td.no-data {
    cursor: default;
}

.import-btn:hover {
    color: rgb(0, 166, 255);
}

label[for="import"] {
    cursor: pointer;
}

.less-visible {
    color: gray;
    text-align: center;
    font-size: 1.2em;
}

.main {
    display: flex;
    justify-content: center;
}

.to-gradient {
    width: auto;
    max-width: 350px;
    min-width: 250px;
    height: fit-content;
}

.wall {
    box-sizing: border-box;
    width: 60%;
}

img {
    width: auto;
    height: 200px;
    max-width: 200px;
}

table.lookup {
    background-color: rgb(239, 239, 239);
    width: 25vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 3px solid lightgray;
}

.lookup-row > th {
    border-bottom: 2px solid lightgrey;
}

.lookup-row > td, .lookup-row > th {
    width: 25vw;
}

span.alert-error {
    margin-left: 5px;
}

form[name="spec-positioned"] > span.alert-error {
    position: absolute;
    left: 130px;
    bottom: 0.5em;
    height: 1.2em;
    width: fit-content;
    padding: 0.2em;
}

.lookup-row > td:hover {
    background-color: lightgray;
}

.lookup-row > td.no-data:hover {
    background-color: rgb(239, 239, 239);
}

.lookup-row > td {
    cursor: pointer;
}

td > a {
    color: black !important;
}

.header-btn {
    box-sizing: border-box;
    height: 70%;
    margin: 7px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.light {
    font-family: source_sans_prolight;
    font-weight: 400;
}

.logo {
    margin: 8px;
    padding: 0 7px;
    cursor: default;
}

.container {
    margin: 0.5em;
    border: 0.40rem solid #C0C0C0;
    padding: 20px 30px;
}

h3 {
    font-size: 1.4em;
    margin: 5px;
}

h4 {
    margin: 0;
    font-size: 1.7em;
}

textarea {
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    resize: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
}

.blue-btn {
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5em 0;
    padding: 0;
    color: white;
    background-color: rgb(0, 166, 255);
    border: 0;
    border-radius: 0.25rem;
}

.blue-btn:hover, .blue-btn:focus {
    background-color: rgb(0, 120, 255);
    color: white;
    outline: 0;
}

.left > input[type="date"] {
    text-indent: 5px;
    color: #8a8a8a;
}

label[for="post"] {
    display: block;
}

label[class="placeholder"] {
    width: 100%;
}

.post.container {
    margin: 0.5em 0;
    padding: 0;
    border-width: .2rem;
}

.post-header, .post-msg {
    margin: 0;
    padding: 0.4em;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #d3d3d3;
}

.post-nested {
    margin: .5em;
}

pre {
    font-family: 'PT Sans', sans-serif;
}

.intro-right > form {
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: rgb(0, 166, 255);
}

.error-page {
    height: 100vh;
}

.error-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    background-image: url('../images/questions.jpg');
}

.error-sign {
    font-size: xxx-large;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5em;
    background-color: white;
    padding: .5em;
}

.input-field {
    font-family: Arial;
    width: 80%;
    padding: 0;
    margin: .5rem 0;
    text-indent: 10px;
    background-color: #f8f9fa;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.reg-field {
    outline: 0;
    padding: 0;
    margin: .5rem 0;
    text-indent: 10px;
    background-color: #f8f9fa;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn {
    padding: 0 1em;
    color: white;
    font-size: 1rem;
    background-color: rgb(0, 166, 255);
    border: 0;
    height: calc(2.25rem + 2px);
    border-radius: 0.25rem;
    cursor: pointer;
}

.reg-field > label[for="upload-image"] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #8a8a8a;
}

.input-field:focus {
    background-color: #ffffff;
    border: 1px solid rgb(0, 166, 255);
    outline: 0;
}

.file-upload {
    background-size: 25px;
    background: #f8f9fa url("../images/icons/upload.svg") no-repeat 95% 50%;
    display: flex;
    align-items: center;
}

.reg-file-upload {
    background-size: 25px;
    background: #f8f9fa url("../images/icons/upload.svg") no-repeat 95% 50%;
}

input[type="file"] {
    display: none;
}

fieldset {
    padding: 0;
    border: 0;
}

.edit-block {
    width: 45%;
}

label {
    width: 20%;
}

legend {
    font-size: 1.3em;
}

::-webkit-datetime-edit-fields-wrapper {
    text-indent: initial;
}

.phone-box {
    align-self: flex-end;
    display: flex;
    margin: 8px 0;
    width: 80%;
}

.reg-phone-box {
    display: flex;
    margin: 8px 0;
}

input:focus:valid {
    border: 1px solid green;
}

.phone-left {
    width: 55%;
    margin: 0 5px 0 0;
}

.phone-right {
    width: 30%;
    height: 40px;
    margin: 0 5px 0 0;
}

.phone-btn {
    width: 15%;
    margin: 0;
    height: 40px;
    text-indent: 0;
}

#reg-add, #edit-add {
    background-color: limegreen;
    color: white;
}

.remove {
    background-color: red;
    color: white;
}

.left, .right {
    width: 48%;
}

.left > h3, .right > h3 {
    font-size: 1.4em;
}

.reg-form {
    display: flex;
    flex-direction: column;
}

.login {
    width: 350px;
}

.checkbox {
    cursor: pointer;
    display: block;
    width: 100%;
    align-self: start;
}

label > strong {
    color: red;
}

label > p {
    margin: 0;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.container {
    box-sizing: border-box;
    width: 15%;
    height: fit-content;
    padding: 0;
}

.to-gradient {
    width: 40%;
}

.nav-list > li a {
    padding: 0.6em 0.8em;
    display: block;
}

.nav-list > li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: rgb(0, 166, 255);
    color: white !important;
}

.entity-block {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-width: 0.2em;
    padding: 0.8em;
}

.block-image {
    height: 150px;
    width: auto;
    max-width: 150px;
}

div.entity-content {
    display: flex;
    width: 80%;
}

div[class^="actions"] {
    width: 20%;
}

.out {
    align-items: flex-end;
}

.req-header {
    margin: 5px;
}

.entity-name {
    margin: 0;
}

div.to-gradient > p, span.to-gradient > p {
    margin: 0.7em 0;
}

button[name="back"] {
    cursor: pointer;
    padding: 0.5em;
    border: 0;
    border-radius: 100%;
    background-color: white;
    font-size: large;
    width: 2em;
    height: 2em;
}

button[name="back"]:hover {
    background-color: gainsboro;
}

.edit-header {
    display: inline-block;
}

.alert-error, label.error {
    color: red;
}

input.error, .needed {
    border: 1px solid red !important;
    background: url(../images/icons/exclamation-circle.svg) no-repeat 95% 50%;
    fill: red;
    background-size: 25px;
}

button.h-dropbtn {
    background-color: inherit;
    outline: 0;
    border: 0;
    font-family: Reef, serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    height: fit-content;
}

a.locale-btn:hover {
    width: 100%;
    background-color: lightgray;
    color: black;
}

.search-btn:hover, .header-btn:hover {
    background-color: lightgray;
}

.logout-btn {
    border: 0;
    font-family: Reef, serif;
    font-size: 100%;
}

.h-dropdown-content {
    text-align: center;
    display: none;
    z-index: 1;
}

.h-dropdown:hover .h-dropdown-content {
    display: block;
}

.h-dropdown-content a {
    display: block;
}

.h-dropdown:hover {
    height: fit-content;
    background-color: rgb(239, 239, 239) !important;
}

.common {
    display: flex;
    justify-content: right;
    align-items: center;
}

fieldset > div {
    display: flex;
    flex-direction: column;
}

label.error {
    width: 80%;
    align-self: flex-end;
}

.alert-success {
    color: green;
}

div.to-gradient, span.to-gradient {
    margin-left: 0.5em;
}

.central {
    width: 65%;
}

.intro.container {
    justify-content: space-between;
    display: flex;
}

.intro-info > p {
    padding: 0.2em;
    border: 3px solid;
    background-image: linear-gradient(to right, gainsboro, rgba(0, 0, 0, 0));
    border-image: linear-gradient(to right, grey, rgba(0, 0, 0, 0)) 1;
    border-right: 0;
    font-size: 1.2em;
}

.intro-left {
    display: flex;
    width: 80%;
}

.intro-right.actions {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

.dual {
    display: flex;
}

.to-gradient > p {
    padding: 0.2em;
    border: 3px solid;
    background-image: linear-gradient(to right, gainsboro, rgba(0, 0, 0, 0));
    border-image: linear-gradient(to right, grey, rgba(0, 0, 0, 0)) 1;
    border-right: 0;
}

.intro-info {
    margin-left: 0.5em;
}

h3 {
    font-size: 1.8em;
}

div[class^="group-actions"] {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
}

.content.container {
    width: 50%;
    height: fit-content;
}

.header-right {
    display: flex;
    height: 100%;
}

.groups-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#group-create {
    margin: 0.5em;
    width: 25%;
}

textarea.input-field {
    height: fit-content;
    padding: 10px;
    text-indent: 0;
}

label[for="description"] {
    margin: 0.5rem 0;
    align-self: start;
}

#load-more {
    width: fit-content;
    align-self: center;
    margin-top: 0.5em;
}

#load-more > input[type="submit"] {
    border-radius: 0.5em;
    border: 2px solid gainsboro;
    padding: 0.2em 1em;
}

#load-more > input[type="submit"]:hover {
    background-color: gainsboro;
    border-color: grey;
}

.buddies-list {
    width: auto;
    padding: 0;
    height: fit-content;
    box-sizing: border-box;
}

.buddies-list > .pages {
    margin: 0.5em 0;
}

aside {
    width: 15%;
    height: fit-content;
}

aside > nav.container {
    width: auto;
}

.buddies-container > div[class^='item'] {
    display: flex;
    width: inherit;
    height: 5em;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
    cursor: pointer;
}

.buddies-container > div[class^='item']:hover {
    background-color: #555;
    color: white;
}

div[class^='item'] > img {
    height: 5em;
    width: auto;
    max-width: 5em;
}

p.moderator {
    margin: 0;
}

.chat-box {
    width: initial;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: aliceblue;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    min-height: 40vh;
}

.item-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0.3em;
    justify-content: space-evenly;
}

.item-info > p {
    margin: 0;
}

.item-info > .item-text {
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.msg {
    width: fit-content;
    max-width: 50%;
    display: flex;
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    flex-direction: column;
}

.msg-to {
    align-self: start;
    background-color: white;
}

.msg-from {
    background-color: rgb(135, 206, 235, 0.4);
    align-self: end;
    border-bottom-right-radius: 0;
}

.msg-form {
    position: relative;
    display: flex;
}

.msg-form > label {
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    height: 1.2em;
    border-radius: 1em;
    background-color: white;
    width: fit-content;
    padding: 0.2em;
}

.msg-form > textarea {
    margin: 0;
    border: 0;
    background-color: rgb(135, 206, 235, 0.4);
    outline: 0;
    border-bottom-left-radius: 1em;
    font-size: 1rem;
    padding: 0.5em 0.5em 2em;
}

.msg-form > button {
    background-color: rgb(135, 206, 235);
    font-size: 1rem;
    border-bottom-right-radius: 1em;
    border: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.msg-form > input:hover {
    background-color: rgb(165, 206, 235);
}

.chat-box > p {
    font-size: 1em;
    margin: 0.5em 0 0;
}

.chat-box > hr {
    margin: 0.2em 2em;
}

.msg > sub {
    align-self: end;
    font-size: .8em !important;
    margin-left: 0.2em;
}

.msg > pre {
    white-space: break-spaces;
    overflow-wrap: anywhere;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.main.edit {
    flex-direction: column;
    align-items: center;
}

ul[class^="pages"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul[class^="pages"] > li {
    text-decoration: none;
    padding: 0.2em;
    border-radius: 0.2em;
    margin: 0 0.2em;
}

.dropdown {
    position: absolute;
    right: 1em;
    top: 1em;
}

button.dropbtn {
    font-size: 1em;
    outline: 0;
    border: 0.2em solid #C0C0C0;
    background-color: white;
    padding: 0.5em;
}

.dropdown-content a {
    display: block;
    padding: 0.3em;
    background-color: white;
    border: 0.2em solid #C0C0C0;
    border-top: 0;
}

.dropdown-content a:hover {
    background-color: #555;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    text-align: center;
    display: none;
    z-index: 1;
}

label.placeholder.upload-text {
    width: 100%;
}

.phone-box-block {
    display: flex;
    justify-content: end;
}

.chat-middle {
    height: 20vh;
}


span.ui-selectmenu-button.ui-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    outline: 0;
    width: 30%;
    z-index: 0;
    margin: 0 5px 0 0;
}

.common > span.ui-selectmenu-button.ui-button {
    width: 80%;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    width: auto !important;
}

.block-header {
    display: flex;
    justify-content: space-between;
}

.block-header-right {
    display: flex;
    align-items: center;
}

.export-btn, .import-btn > label {
    padding: 0.5em;
}

.import-btn > label {
    padding: 0.5em 0;
}